@tailwind base;
@tailwind components;
@tailwind utilities;

#problem_container{
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

/*お問合せ電話ボタン*/
#contact{
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
}


/*各資料ダウンロードボタン*/
.brochure{
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
}






