@tailwind base;
@tailwind components;
@tailwind utilities;

#problem_container{
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

/*お問合せ電話ボタン*/
#contact{
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
}


/*各資料ダウンロードボタン*/
.brochure{
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
}

/*画面右下のお問い合わせ*/
.floating-element {
     position: fixed;
     bottom: -100px; /* 初期位置: 画面外 */
     right: 20px;
     opacity: 0;
     transition: opacity 0.5s ease, bottom 0.5s ease;
    z-index: 1000;
 }

.floating-element.show {
    bottom: 20px; /* 固定表示 */
    opacity: 1;
}






